*{
  margin: 0px;
  padding: 0px;
}
.container{
  height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
}
img{
  width: 30%;
}
.wrapper{
  background: #fff;
  width: 600px;
  height: 400px;
  margin : auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1{
  font-size: 40px;
  font-weight: 600;
  margin : 40px 0px ; 
  color: #445a44;
}
p{

}
button{
  width: 150px;
  height: 40px;
  background: #445a44;
  border: solid 1px #445a44;
  border-radius: 5px;
  color: white;
  margin: 20px;
  font-size: 20px;

}